<h3>edit-profile works!</h3>

<form (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" [(ngModel)]="profileData.username" >
  </div>
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" [(ngModel)]="profileData.name" >
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="text" name="email" [(ngModel)]="profileData.email" >
  </div>
  <div>
    <label for="salary">Salary:</label>
    <input type="number" name="salary" [(ngModel)]="profileData.salary" >
  </div>
  <div>
    <label for="Aadhar">Aadhar:</label>
    <input type="text" name="aadhaar" [(ngModel)]="profileData.aadhaar" >
  </div>
  <button type="submit">Submit</button>
</form>

